<!DOCTYPE html>
<html xmlns:th="" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Группа "Парни"</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- metisMenu -->
    <link href="/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Lab4up</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a href="#">
                    <i class="fa fa-gear fa-fw"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-calendar fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a href="#">
                    <i class="fa fa-sign-out fa-fw"></i>
                </a>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Рабочий стол</a>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-user fa-fw"></i> Сотрудники</a>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-child fa-fw"></i> Ученики</a>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-group fa-fw"></i> Группы</a>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-cube fa-fw"></i> Программы</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

<script>

function tableTranspose(id){
    var table = $('#'+id);
    var matrix = {};
    table.find('tr').each(function(index0, el0) {
        var matrix1 = {};
        $(el0).find('th,td').each(function(index1, el1) {
            matrix1[index1] = $(el1).html();
        });
        matrix[index0] = matrix1;
    });
    var tableText = '<thead>';
    for (var i = 0; i < Object.keys(matrix[0]).length; i++) {
        tableText+='<tr>';
        for(var j = 0; j < Object.keys(matrix).length; j++){
            if(i==0){
                if(j==0)
                    tableText+='<th class="text-center">'+matrix[j][i]+'</th>';
                else
                    tableText+='<th>'+matrix[j][i].split(' ').join('\n')+'</th>';

                console.log(matrix[j][i]);
            } else {
                if(j==0)
                    tableText+='<td class="text-left">'+matrix[j][i]+'</td>';
                else {
                    var varClass = '';
                    switch(matrix[j][i]){
                        case '+':
                            varClass = 'bg-success';
                        break;
                        case '.':
                            varClass = 'bg-warning';
                        break;
                        case '?':
                            varClass = 'bg-info';
                        break;
                        case '-':
                            varClass = 'bg-danger';
                        break;
                    }
                    tableText+='<td class="'+varClass+'">'+matrix[j][i]+'</td>';
                }
            }
        }
        tableText+='</tr>';
        if(i==0)
            tableText+='</thead><tbody>';

    }
    tableText+='</tbody>';
    table.html(tableText);
}

function replaceSpaceByNewline(id){
    $('#'+id).find('th+th').each(function(index, el) {
        $(el).text($(el).text().split(' ').join('\n'));
    });
}
</script>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Группа "Парни"</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-8">
                <div style="overflow-x:scroll">
                    <style>
                        .group-table{
                            table-layout: fixed;

                        }
                        .group-table * {
                            position: relative;
                            vertical-align: middle;
                        }
                        .group-table thead tr th+th{
                            vertical-align: top;
                            text-align: left;
                            width: 120px;
                            /* writing-mode: vertical-rl;
                            -webkit-writing-mode: bt-rl; */
                            font-size: 0.8em;
                        }
                        .group-table th:first-child{
                            width: 200px;

                            overflow: hidden;
                        }
                        .group-table
                    </style>
                    <table class="group-table table table-bordered pre-scrollable m0 text-center" id="matrix">
                        <thead>
                            <tr>
                                <th class="text-center"><a href="javascript:void(0)" onclick="tableTranspose('matrix')" class="btn btn-lg"><i class="fa fa-refresh"></i></a></th>
                                <th>Вводное занятие</th>
                                <th>Архитектура вычисл. систем</th>
                                <th>Теоретическая информатика</th>
                                <th>Основы HTTP протоколов</th>
                                <th>Хакатон</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-left">Максим Гурченков</td>
                                <td class="bg-success">+</td>
                                <td class="bg-success">+</td>
                                <td class="bg-warning">.</td>
                                <td class="bg-success">+</td>
                                <td class="bg-warning">.</td>
                            </tr>
                            <tr>
                                <td class="text-left">Дмитрий Дергунов</td>
                                <td class="bg-info">?</td>
                                <td class="bg-success">+</td>
                                <td class="bg-success">+</td>
                                <td class="bg-info">?</td>
                                <td class="bg-danger">-</td>
                            </tr>
                            <tr>
                                <td class="text-left">Кайрат Сагалеев</td>
                                <td class="bg-warning">.</td>
                                <td class="bg-warning">.</td>
                                <td class="bg-danger">-</td>
                                <td class="bg-success">+</td>
                                <td class="bg-info">?</td>
                            </tr>
                            <tr>
                                <td class="text-left">Сергей Косов</td>
                                <td class="bg-danger">-</td>
                                <td class="bg-warning">.</td>
                                <td class="bg-info">?</td>
                                <td class="bg-info">?</td>
                                <td class="bg-success">+</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4 class="panel-title">Информация</h4><div class="clearfix"></div></div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li><a href="javascript:void(0)">Программа №1</a></li>
                            <li>2 раза в неделю</li>
                            <li>Петров П.П., Иванов И.И.</li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><span style="line-height:2">Редактировать занятие</span> <button class="pull-right btn btn-success">Добавить занятие</button></h3></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Название">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="description" id="description" rows="4" placeholder="Описание"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="material" id="material" placeholder="Учебный материал">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="methodic" id="methodic" placeholder="Материалы для учителя">
                        </div>
                        <button type="submit" class="btn btn-success">Сохранить</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Занятие</th>
                            <th>Комментарий</th>
                            <th>Дата</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Вводное занятие</td>
                            <td>Комментарий о первом занятии. Занятие просто по плану. Домашнее задание выполнено</td>
                            <td>22.02.2017</td>
                        </tr>
                        <tr>
                            <td>Второе занятие</td>
                            <td>Комментарий о втором занятии. Не объяснен последний раздел.Перенесен на следующее занятие</td>
                            <td>10.03.2017</td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/js/jquery-3.2.0.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- metisMenu JavaScript -->
<script src="/js/metisMenu.min.js"></script>

<!-- jQueryUI -->
<script src="/js/jquery-ui.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/script.js"></script>

</body>

</html>
