<!DOCTYPE html>
<html xmlns:th="" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Программа № 1</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- metisMenu -->
    <link href="/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Lab4up</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a href="#">
                    <i class="fa fa-gear fa-fw"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-calendar fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a href="/logout">
                    <i class="fa fa-sign-out fa-fw"></i>
                </a>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Рабочий стол</a>
                    </li>
                    <li>
                        <a href="/employees_list"><i class="fa fa-user fa-fw"></i> Сотрудники</a>
                    </li>
                    <li>
                        <a href="/students_list"><i class="fa fa-child fa-fw"></i> Ученики</a>
                    </li>
                    <li>
                        <a href="/groups_list"><i class="fa fa-group fa-fw"></i> Группы</a>
                    </li>
                    <li>
                        <a href="/programms_list"><i class="fa fa-cube fa-fw"></i> Программы</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>


    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Программа № 1</h1>
                <p>Описание программы. Программа ниче так, учиться можно. В общем круто все.</p>
                <br>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-6">
                <div class="list-group" id="sortableList">
                    <a href="javascript:void(0)" id="lesson_1" class="list-group-item disabled">
                        <h4>Вводное занятие <span class="label label-default">1:30</span></h4>
                        <p>Описание вводного занятия</p>
                    </a>
                    <a href="javascript:void(0)" id="lesson_2" class="list-group-item disabled">
                        <h4>Архитектура вычислительных систем <span class="label label-default">1:25</span></h4>
                        <p>Описание архитектуры вычислительных систем</p>
                    </a>
                    <a href="javascript:void(0)" id="lesson_3" class="list-group-item">
                        <h4>Математическая кибернетика <span class="label label-default">1:00</span></h4>
                        <p>Описание математической кибернетики</p>
                    </a>
                    <a href="javascript:void(0)" id="lesson_4" class="list-group-item">
                        <h4>Основы HTTP протоколов <span class="label label-default">2:40</span></h4>
                        <p>Описание основ http протоколов</p>
                    </a>
                    <a href="javascript:void(0)" id="lesson_5" class="list-group-item">
                        <h4>Хакатон <span class="label label-default">48:00</span></h4>
                        <p>Описание хакатона. Занятие на 48 часов. Без сна.</p>
                    </a>
                </div>
                <button type="submit" class="btn btn-success">Добавить занятие</button>
            </div>
            <div class="col-md-6">
                <form action="" method="POST" role="form">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title">Архитектура вычислительных систем</h3></div>
                        <div class="panel-body">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Название">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="description" id="description" rows="4" placeholder="Описание"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="material" id="material" placeholder="Учебный материал">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="methodic" id="methodic" placeholder="Методические материалы">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="timelong" id="timelong" placeholder="Длительность">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="recommendation" id="recommendation" placeholder="Рекомендации">
                            </div>
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/js/jquery-3.2.0.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- metisMenu JavaScript -->
<script src="/js/metisMenu.min.js"></script>

<!-- jQueryUI -->
<script src="/js/jquery-ui.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/script.js"></script>

<script>
jQuery(document).ready(function(){
    $('#sortableList').sortable({
        update: function(event,ui){
            var obj = {};
            ui.item.parent().find('.list-group-item').each(function(index, el) {
                console.log(index);
                var ind = el.id.substr(7);
                obj[ind] = index;
            });
            console.log(obj);

            $.ajax({
                url: '/',
                type: 'GET',
                data: obj
            });
        }
    });
});

</script>

</body>

</html>
